<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
      <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-3 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">WOMEN TRENDING</h4>
              <ul class="no-list-style">
                <li><a href="#">New Release</a></li>
                <li><a href="#">Best Sellers</a></li>
                <li><a href="#">Matching Sets</a></li>
                <li><a href="#">Black Leggings</a></li>
                <li><a href="#">Fall Essentials</a></li>
                <li><a href="#">Oversized</a></li>
                <li><a href="#">Back To School</a></li>
                <li><a href="#">Functional Fitness</a></li>
                <li><a href="#">e-Gift Card</a></li>
              </ul>
          </div>
          <!-- Footer About Text-->
          <div class="col-lg-3">
              <h4 class="text-uppercase mb-4">WOMENS COLLECTIONS</h4>
              <ul class="no-list-style">
                <li><a href="#">Vital</a></li>
                <li><a href="#">Legacy</a></li>
                <li><a href="#">Adapt Collection</a></li>
                <li><a href="#">Sweat</a></li>
                <li><a href="#">Seamless</a></li>
                <li><a href="#">Graphics</a></li>
                <li><a href="#">Apex Limit</a></li>
                <li><a href="#">Essentials</a></li>
                <li><a href="#">Elevate</a></li>
                <li><a href="#">GS Power</a></li>
                <li><a href="#">Key Fits</a></li>

              </ul>
          </div>
          <!-- Footer About Text-->
          <div class="col-lg-3">
              <h4 class="text-uppercase mb-4">MENS TRENDING</h4>
              <ul class="no-list-style">
                <li><a href="#">New Releases</a></li>
                <li><a href="#">Best Sellers</a></li>
                <li><a href="#">Oversized</a></li>
                <li><a href="#">Pump Cover</a></li>
                <li><a href="#">Fall Essentials</a></li>
                <li><a href="#">Back To School</a></li>
                <li><a href="#">Running</a></li>
                <li><a href="#">Functional Fitness</a></li>
                <li><a href="#">David Laid</a></li>
                <li><a href="#">e-Gift Card</a></li>
              </ul>
          </div>
          <div class="col-lg-3">
              <h4 class="text-uppercase mb-4">MENS COLLECTIONS</h4>
              <ul class="no-list-style">
                <li><a href="#">Power</a></li>
                <li><a href="#">Crest</a></li>
                <li><a href="#">Apex</a></li>
                <li><a href="#">Legacy</a></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">David Laid</a></li>
                <li><a href="#">Essentials</a></li>
                <li><a href="#">React</a></li>
                <li><a href="#">Arrival</a></li>
                <li><a href="#">Graphic</a></li>
                <li><a href="#">Critical</a></li>
                <li><a href="#">315 Collection</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
