{% include 'header.html' %}
  {% include 'navbar.html' %}
  <header
    class="masthead"
  >
    <div class="container px-4 px-lg-5 masthead-content">
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>LEGACY</h1>
            <p>The lifting collection that combines old school fits with new school features.</p>
            <button class="btn btn-primary" style="border-width:0;border-radius:20px;padding:10px 25px;background-color:white;color:black;font-weight:650">SHOP WOMEN</button>
            <button class="btn btn-primary" style="border-width:0;border-radius:20px;padding:10px 25px;background-color:gray;font-weight:650">SHOP MEN</button>
        </div>
      </div>
    </div>
  </header>
  {% include 'footer.html' %}
