<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">

  </head>
  <body>
    {% include 'navbar.html' %}
    <header
    class="masthead"
  >
    <div class="container px-4 px-lg-5 masthead-content">
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>LEGACY</h1>
            <p>The lifting collection that combines old school fits with new school features.</p>
            <button class="btn btn-primary" style="border-width:0;border-radius:20px;padding:10px 25px;background-color:white;color:black;font-weight:650">SHOP WOMEN</button>
            <button class="btn btn-primary" style="border-width:0;border-radius:20px;padding:10px 25px;background-color:gray;font-weight:650">SHOP MEN</button>
        </div>
      </div>
    </div>
  </header>
  {% include 'footer.html' %}
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
  </body>
</html>
